# Node
chat-app-frontend/node_modules
chat-app-backend/node_modules
chat-app-frontend final/node_modules
chat-app-backend/backend-app/node_modules
node_modules
npm-debug.log*
myenv
.env
__pycache__/*
vrag/
qdrant/

# Build
# dist/
# build/

# Environment
# .env

# # Logs
# logs/
# *.log

# # System files
# .DS_Store
# Thumbs.db

# # VS Code
# .vscode/

# # IDEs
# .idea/
# *.sublime-workspace
# *.sublime-project

# # OS
# *.swp
