fastapi
uvicorn
pydantic
qdrant-client
langchain-openai
llama-index-embeddings-clip
openai
llama-index-multi-modal-llms-openai
llama-index-vector-stores-qdrant
llama_index
ftfy
regex
tqdm
torch
torchvision
matplotlib 
scikit-image
qdrant_client
langchain-openai
opencv-python
imageio 
imageio-ffmpeg
moviepy
sentence-transformers
faster-whisper
huggingface_hub[hf_xet]
faster_whisper
httpx
iPython
langchain 


